:root {
    --dark: #722fc0;
    --medium: #4b6bed;
    --light: #9ad8a3;
    --superlight: #e7f6f2;
  }

html{
  background-image: url("Design\images\baguio1.png");
}
body {
    background-color: gray;
    margin: auto;
    display: block;
}

.navbar {
    display: flex;
    height: 60px;
    background-color: #004225;
  }
  
  .left-navbar {
    float: left;
    display: flex;
    width: 60%;
    padding: 10px;
  }

  .title-page {
    margin: 0px;
    margin-right: 40px;
    margin-left: 15px;
    font-size: 36px;
    color: #F5F5DC;
    text-decoration: none;
    font-weight: 700;
  }
  
  .link,
  .title-page {
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .link::after,
  .title-page::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--superlight);
  }
  
  .link:hover .title-page:hover {
    color: var(--dark);
  }
  
  .link:hover::after,
  .title-page:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .link {
    padding: 15px;
    text-decoration: none;
    color: #F5F5DC;
    font-weight: 700;
    margin-right: 40px;
  }
  
  
  .right-navbar {
    margin-top: 15px;
    text-align: end;
    width: 50%;
    margin-right: 15px;
    padding: 10px;
  }
  
  .btn-sign-in{
    text-decoration: none;
    color: #F5F5DC;
    font-weight: 700;
    margin-right: 40px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    display: block;
    padding-bottom: 5px;
  }
  .btn-sign-in::after {
    position: absolute;
    content: "";
    width: 16%;
    height: 3px;
    top: 100%;
    left: 88%;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: var(--superlight);
  }
  
  .btn-sign-in:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .container{
    display: flex;
    margin: 25px;
    margin-top: 45px;
  }
  
  .left-cont{
    display: block;
    margin: 25px;
    margin-top: 45px;
  }
  .upper-left{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-left: 200px;
    height: 275px;
    width: 700px;
    background-color: #F1EBE5;
    border-radius: 25px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  }

  .image_card{
    padding-top: 38px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .content{
    text-align: center;
    
  }


  .image_card{
    align-items: start;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .lower-left{
    padding-top: 1px;
    margin-left: 300px;
    height: 250px;
    width: 500px;
    background-color: #004225;
    border-radius: 25px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  }

  .lower-left-context{
    text-align: center;
    font-size: 30px;
    color: #F5F5DC;
  }

  .right-container {
    margin-top: 25px;
    margin-bottom: 250px;
    margin-right: 200px;
    margin-left: 100px;
    height: 675px;
    width: 500px;
    background-color: #F1EBE5;
    text-align: center;
    border-radius: 25px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    z-index: 1;
  }
  
  input {
    width: 100%;
    width: 200px;
    height: 50px;
    margin: 0 auto;
  }

  .grades {
    width: 200px;
    height: 100px;
    margin: 0 auto;
  }

  input {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
  .form-center {
    margin: 0 auto;
    width: 100%;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    padding: 5%;
  }
  
  .form-label,
  .form-input {
    margin: 0;
  }
  #results {
    margin-top: 20px;
  }
  
  p {
    text-align: center;
  }
  
  #average-grade, #rating {
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    height: 60px;
    background-color: #004225;

  }

  .footer-left-container {
    display: flex;
    margin-top: 10px;
    margin-left: 35%;
    text-align: center;
    color: #F5F5DC;
  }